<mat-form-field>
  <mat-label>Secret</mat-label>
  <textarea matInput placeholder="Your secret"></textarea>
</mat-form-field>

<mat-form-field>
  <mat-label>Expiration</mat-label>
  <mat-select>
    <mat-option value="week">Week</mat-option>
    <mat-option value="two-weeks">Two weeks</mat-option>
    <mat-option value="hour">Hour</mat-option>
    <mat-option value="day">Day</mat-option>
  </mat-select>
</mat-form-field>

<button type="submit" mat-raised-button color="primary">Generate URL</button>
