<form (ngSubmit)="createSecret()" class="space-y-5">
  <div class="flex flex-col">
    <mat-form-field>
      <mat-label>Secret</mat-label>
      <textarea matInput placeholder="Your secret" name="secret" [(ngModel)]="secret" (input)="onSecretChange()"></textarea>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Expiration</mat-label>
      <mat-select name="expiration" [(ngModel)]="expiration">
        <mat-option *ngFor="let option of getExpirationOptions()" [value]="option.expiration">{{ option.name }}</mat-option>
      </mat-select>
    </mat-form-field>

    <button type="submit" mat-raised-button color="primary" [disabled]="generateButtonDisabled">Generate URL</button>
  </div>

  <p class="" *ngIf="shareSecretKey">Share key: {{ shareSecretKey }}</p>
</form>
