<form (ngSubmit)="createSecret()" class="flex flex-col">
  <mat-form-field>
    <mat-label>Secret</mat-label>
    <textarea matInput placeholder="Your secret" name="secret" [(ngModel)]="secret"></textarea>
  </mat-form-field>

  <mat-form-field>
    <mat-select name="expiration" [(ngModel)]="expiration">
      <mat-option *ngFor="let option of expirationOptions" [value]="option.expiration">{{ option.name }}</mat-option>
    </mat-select>
  </mat-form-field>


  <button type="submit" mat-raised-button color="primary">Generate URL</button>
</form>
