<h2>New secret</h2>
<form (submit)="createSecret()" class="flex flex-col">
  <mat-form-field>
    <mat-label>Secret</mat-label>
    <textarea matInput placeholder="Your secret" name="secret" [(ngModel)]="secret" (input)="onSecretChange()"></textarea>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Expiration</mat-label>
    <mat-select name="expiration" [(ngModel)]="expiration">
      <mat-option *ngFor="let option of getExpirationOptions()" [value]="option.expiration">{{ option.name }}</mat-option>
    </mat-select>
  </mat-form-field>

  <div class="flex flex-col space-y-2">
    <button type="submit" mat-raised-button color="primary" [disabled]="generateButtonDisabled">Generate URL</button>
    <p class="text-red-500 font-medium" *ngIf="failure">An error occured, please try again.</p>
  </div>

  <mat-form-field class="w-full mt-3" *ngIf="shareSecretUri">
    <input title="Share secret uri" matInput type="text" name="shareSecretUri" [(ngModel)]="shareSecretUri" [disabled]="true">

    <button type="button" (click)="copyUriToClipboard()" matSuffix mat-icon-button aria-label="Copy to clipboard">
      <mat-icon>content_copy</mat-icon>
    </button>
  </mat-form-field>
</form>
