<h2>New Secret</h2>
<form [formGroup]="form" (submit)="createSecret()" class="flex flex-col">
  <mat-form-field>
    <mat-label>Secret</mat-label>
    <textarea matInput placeholder="Your secret" name="secret" formControlName="secret"></textarea>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Passphrase</mat-label>
    <input type="password" matInput placeholder="Passphrase" name="passphrase" formControlName="passphrase" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Expiration</mat-label>
    <mat-select formControlName="ttl" name="ttl">
      <mat-option *ngFor="let option of getExpirationOptions()" [value]="option.expiration">{{ option.name }}</mat-option>
    </mat-select>
  </mat-form-field>

  <div class="flex flex-col space-y-2">
    <button type="submit" mat-raised-button color="primary" [disabled]="form.invalid">Generate URL</button>
    <p class="text-red-500 font-medium" *ngIf="form.invalid">An error occured, please try again.</p>
  </div>

  <mat-form-field class="w-full mt-3" *ngIf="shareSecretUri">
    <input title="Share secret uri" matInput type="text" disabled name="shareSecretUri" [disabled]="true" [value]="shareSecretUri" />

    <button type="button" (click)="copyUriToClipboard()" matSuffix mat-icon-button aria-label="Copy to clipboard">
      <mat-icon>content_copy</mat-icon>
    </button>
  </mat-form-field>
</form>
