<style>
  #secret-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
  }
</style>

<main class="">
  <form action="" id="secret-form">
    <h1>NgPass</h1>
    <p>NgPass allows you to share secrets in a secure, ephemeral way. Input a single or multi-line secret, its expiration time, and click Generate URL. Share the one-time use URL with your intended recipient.</p>

    <mat-form-field>
      <mat-label>Secret</mat-label>
      <textarea matInput placeholder="Your secret"></textarea>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Expiration</mat-label>
      <mat-select>
        <mat-option value="week">Week</mat-option>
        <mat-option value="two-weeks">Two weeks</mat-option>
        <mat-option value="hour">Hour</mat-option>
        <mat-option value="day">Day</mat-option>
      </mat-select>
    </mat-form-field>

    <button type="submit" mat-raised-button color="primary">Generate URL</button>
  </form>
</main>

<router-outlet />
