<h2>Unviewed secrets</h2>

<ng-container *ngIf="error; else success">
  <p class="text-red-500 font-medium">An error occured, please try again.</p>
</ng-container>
<ng-template #success>
  <table mat-table [dataSource]="dataSource" class="">
    <ng-container matColumnDef="key">
      <th mat-header-cell *matHeaderCellDef>Expires</th>
      <td mat-cell *matCellDef="let element">{{element.key}}</td>
    </ng-container>

    <ng-container matColumnDef="baseUri">
      <th mat-header-cell *matHeaderCellDef>URL</th>
      <td mat-cell *matCellDef="let element">{{element.baseUri}}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</ng-template>

