<h2>Sign up</h2>
<form>
  <div class="flex flex-col">
    <mat-form-field>
      <mat-label>Username</mat-label>
      <input matInput placeholder="Your username" name="username" formGroupName="username">
    </mat-form-field>
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput type="email" placeholder="Your email" name="password" formGroupName="password">
    </mat-form-field>
    <div class="flex flex-col space-y-2">
      <button type="submit" mat-raised-button color="primary">Create user</button>
    </div>
  </div>
</form>
